@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2em;
  margin-top: -8em;
}

.header-btn-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.add-score-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1em;
}

.refresh-btn {
  height: 2em;
}

.submit-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.score-board {
  border: 2px solid black;
}

.score-board li {
  list-style: none;
}
